<app-barra-comandos (eventoBusca)="get($event)"></app-barra-comandos>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Usuário</th>
      <th>Ativo</th>
      <th>Papel</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of registros">
      <td>{{ r.id }}</td>a
      <td>{{ r.nomeCompleto }}</td>
      <td>{{ r.nomeUsuario }}</td>
      <td>{{ r.ativo }}</td>
      <td>{{ r.papel }}</td>
      <td>
        <a class="botao editar">Editar</a>
        <a class="botao excluir">Excluir</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="7">Total de Registros: {{ registros?.length }}</td>
  </tfoot>
</table>
